.available__container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    background: red;
    padding: 15px;
}
  
.left__results {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto";
}

.results__title {
    font-size: 18px;
    font-weight: bold;
}
